.btn-toolbar
  .btn-group
    = link_to "#", class: "btn btn-success dropdown-toggle", data: {toggle: "dropdown"} do
      Show
      %span.caret
    %ul.dropdown-menu
      %li= link_to "Public", campaign
      %li= link_to "Admin", [:admin, campaign]
      %li= link_to "Embed", embed_campaign_path(campaign)
  .btn-group
    = link_to "#", class: "btn btn-info dropdown-toggle", data: {toggle: "dropdown"} do
      Manage
      %span.caret
    %ul.dropdown-menu
      %li= link_to 'Edit', edit_admin_campaign_path(campaign)
      %li= link_to 'Delete', [:admin, campaign], :confirm => 'Are you sure?', :method => :delete
      %li= link_to 'Moderate', admin_campaign_photos_path(campaign)
